.quote {

    font-style: italic;
    display: inline;

}

a
{
    color:#128cf7;
}

a:visited 
{
  color:#2870AE;
}

a:hover,a:focus
{
text-decoration: none;
color: #049bff;
}

body 
{
    margin-left: 20%;
    margin-right: 20%;
}

.quote:hover
{
    color:#2870AE;
}

hr
{
    margin-top:7%;
    color: gray;
}

p,.container a{
    font-family: 'pt-serif', serif;
    font-size: 1.125em;
    line-height: 1.5;
    max-width: 50rem;
    margin-left: 5%;
    margin-right: 5%;

}

h1,h2{
    font-family: "abril-titling", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;

}

h2{
    font-size: 1.75em;
}

.title
{
   font-family: 'Amador', 'Arial Narrow', Arial, sans-serif;
   font-size:3.125em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ImgOutline
{
    width: 72px;
    height: 72px;
    border-radius: 50px;
}

.leftimage
{
    float:left;
    margin: 0.2em;
    max-block-size: 20em;
}

.container a{
    margin:0;
    position: relative;
    top: 1rem;
    text-decoration: none;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .text-content p
 {
    line-height: 0;
    margin:0;
    position: relative;
    top: 2rem;
 }

.rightimage
{
    float:right;
    margin: 0.2em;
    max-block-size: 20em;
}

.buttonhold {
  float:right;
  position: relative;
  top: 3rem;
  margin-right: 3em;
}

.buttonimage
{
    width: 25px;
    height: 25px;
}

.btn
{
    border-radius: 10px;
    background: none;

 }