a{
    color:rgb(48, 139, 61);
}

a:visited{
    color: gold;
}


body {
    font-size: 22px;
}

p{
    color:brown;
} 

.quote {

    font-style: italic;
}

.quote:hover
{
    color:#2870AE;
}

.quote:click
{
}