
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.quote {

    font-style: italic;
}

.quote:hover
{
    color:#2870AE;
}

.title
{
    font-family: 'Amador', 'Arial Narrow', Arial, sans-serif;
    border: 2px dashed Teal ;
    box-sizing: border-box;
    font-size:3.125rem;
    padding-left: 14em;
}

.images
{
    margin: 0.20rem;
}