.title
{
   font-family: 'Amador', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   text-align: center;
}
 
hr
{
   color:#ffffff;
}


figcaption {
   text-align: center;
   color:gray;
   font-size: x-small;
}