
.title
{
font-size: 5rem;
text-align: center;
}

.CategoryBlock
{
display:flex;
margin-top: 0.5rem;
justify-content:center;
gap: 1rem;
}

.CategoryBlock button
{
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:     1.5625rem;
    border: 0;
    color:#2e652d;
    background-color: white;
}

.CategoryBlock button:hover
{
color: #51b44f
}

.Categories
{
position: absolute;
display: none;
border: #2e652d;
background-color: hsl(0, 0%, 95%);
border-color: #2e652d;
border-style: solid;
border-width: thin;
max-width: 10rem;
}

.DropDown a
{
    display: block;
    text-decoration: none;
color: #63815f;
font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
font-size:     1.125rem;
margin: 0rem 0.5rem 1rem 0.5rem;
}

.DropDown a:hover
{
    text-decoration: underline;
}

.DropDown:hover .Categories
{
    display:block;
}

#DateObject
{
    font-size: 1rem;
    text-align: center;
}

main
{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'pt-serif', serif;
}

.ArticleContainer
{
display: flex;
justify-content: flex-end;


}

.VerticalRule
{
   color: solid #DFDFDF;
    margin-right: 1.6rem;
    margin-left: 1.6rem;

}

.RightHandContainer
{
    display: flex;

    max-width: 23%;
    margin-left: auto;
}

.CentralImage
{
    float: center;
}

.LeftHandContainer
{
    display: flex;

    max-width: 23%;
    margin-right: auto;
}