
.title
{
font-size: 5rem;
text-align: center;
}

hr
{
    margin: 0;
}

.CategoryBlock {
    margin-top: 0.5rem;
    gap: 1rem;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
  }
  
  .CategoryBlock>*:first-child {
    margin-left: auto;
  }
  
  .CategoryBlock>*:last-child {
    margin-right: auto;
  }
  
  .CategoryBlock button {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2rem;
    border: 0;
    color: #2e652d;
    background-color: white;
    position: relative;
  }
  
  .CategoryBlock button:hover {
    color: #51b44f
  }
  
  .Categories {
    position: absolute;
    left: var(--scrolled-left);
    top: var(--top-pos);
    display: none;
    border: #2e652d;
    background-color: hsl(0, 0%, 95%);
    border-color: #2e652d;
    border-style: solid;
    border-width: thin;
    max-width: 10rem;
  }
  
  .DropDown a {
    display: block;
    text-decoration: none;
    color: #63815f;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.125rem;
    margin: 0rem 0.5rem 1rem 0.5rem;
  }
  
  .DropDown a:hover {
    text-decoration: underline;
  }
  
  .DropDown:hover .Categories {
    display: block;
  }

#DateObject
{
    font-size: 1rem;
    text-align: center;
}


main
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    font-family: 'pt-serif', serif;
    container-name: ContentResize;
container-type: normal;
display: grid;
border-width: 1rem;
border-style:solid;
grid-template-columns: 72.5% 5% 22.5%;
}



.VerticalRule
{
    border-left:1px solid #c7c7c7 ;
    margin-left: 1.6rem;
    display: inline-block;
}

.RightBlurbs
{

}

.ContentContainer p
{
max-inline-size: 40%;
max-height: 50%;
}

.ContentContainer 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    margin-top:0.5rem;
height: 30rem;
border-width: 1rem;
border-style:solid;
}



.ContentContainer hr
{
   
    width: 40%;
}

img
{
    max-block-size: 100%;
    width: 100%;
}

figure
{   
      width: 50%;
    height:50%;
    margin-right:1rem;

}

header
{
     margin-bottom: 1rem;
}






html,body {
    max-width: 100%;
    overflow-x: hidden;
    
}

